---
title: Members
layout: page
permalink: /members/
toc: true
---

<!--horrible design... hardcoding in different member types -->
{% assign faculty= "" | split: "" %}
{% assign phds= "" | split: "" %}
{% assign masters= "" | split: "" %}
{% assign students= "" | split: "" %}
{% assign alumni= "" | split: "" %}
{% assign collabs= "" | split: "" %}

<!-- Add post to approriate post type array ==> display in seperate groups -->
{% for post in site.members %}

	{% case post.type_group %}
		{% when site.member_types[0] %}
			{% assign faculty=faculty | push: post %}

		{% when site.member_types[1] %}
			{% assign phds=phds | push: post %}
		
		{% when site.member_types[2] %}
			{% assign masters=masters | push: post %}
			
		{% when site.member_types[3] %}
			{% assign students=students | push: post %}
				
		{% when site.member_types[4] %}
			{% assign alumni=alumni | push: post %}
			
		{% when site.member_types[5] %}
			{% assign collabs=collabs | push: post %}
	{% endcase %}

{% endfor %}

<!-- 
	**ALL HARD CODED** -- changing 'member_types' changes collection output... 
-->
{% if faculty.size > 0 %}
	{% assign t=site.member_types[0] %}
	{% include collection_include.html collection=faculty title=t %}
{% endif %}

{% if phds.size > 0 %}
	{% assign t=site.member_types[1] %}
	{% include collection_include.html collection=phds title=t %}
{% endif %}

{% if masters.size > 0 %}
	{% assign t=site.member_types[2] %}
	{% include collection_include.html collection=masters title=t %}
{% endif %}

{% if students.size > 0 %}
	{% assign t=site.member_types[3] %}
	{% include collection_include.html collection=students title=t %}
{% endif %}

{% if alumni.size > 0 %}
	{% assign t=site.member_types[4] %}
	{% include collection_include.html collection=alumni title=t %}
{% endif %}

{% if collabs.size > 0 %}
	{% assign t=site.member_types[5] %}
	{% include collection_include.html collection=collabs title=t %}
{% endif %}