---
layout: default
title: Home
---

{% if page.url == "/" %}


<!-- Add banner image and website description + creators credit* (bottom)-->
{% capture my_include %}{% include home-banner.md %}{% endcapture %}
{{ my_include | markdownify }}

<!-- Featured
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Featured</span></h2>
    </div>
    <div class="row">

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>

{% endif %}
