<section id="escursioni">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ site.data.sections.escursioni }}</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for escursione in site.escursioni %}
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box hike-box">
                    <img src="{{ escursione.thumbnail }}" class="img-responsive" alt="">
                      <div class="padding-15">
                          <h3 class="section-heading">{{ escursione.title }}</h3>
                          <p>
                          {{ escursione.content | strip_html | truncatewords: 30 }}
                          </p>
                          <a href="{{ escursione.url | relative_url }}" class="btn btn-primary">Scopri di piú</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
