<section class="bg-primary-light" id="esplora">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ site.data.sections.esplora }}</h2>
                <hr class="light">
            </div>
        </div>
    </div>
    <div class="container">

      <div class="row card-row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <div class="content">
              <h2 class="section-heading">{{ page.esplora_title_1 }}</h2>
              <p>{{ page.esplora_description_1 }}</p>
          </div>
          <div class="clearfix">

          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card-image">
            <div class="img-wrapper">
                <img src="{{ page.esplora_image_1 | relative_url }}" class="img-responsive img-cover" />
              <div class="img-overlay">
                  <a href="#contatti" class="btn btn-default page-scroll">{{ page.esplora_book_now_text }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row card-row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <div class="content">
              <h2 class="section-heading">{{ page.esplora_title_2 }}</h2>
              <p>{{ page.esplora_description_2 }}</p>
          </div>
          <div class="clearfix">

          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card-image">
            <div class="img-wrapper">
              <img src="{{ page.esplora_image_2 | relative_url }}" class="img-responsive img-cover" />
              <div class="img-overlay">
                <a href="#contatti" class="btn btn-default page-scroll">{{ page.esplora_book_now_text }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
</section>
