<section class="bg-primary" id="esplora">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Esplora</h2>
                <hr class="light">
            </div>
        </div>
    </div>
    <div class="container">

      <div class="row card-row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <div class="content">
            <h2 class="section-heading">
              Title Goes Here
            </h2>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
          <div class="clearfix">

          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card-image">
            <div class="img-wrapper">
              <img src="/seancliffs/img/smiaf.jpg" class="img-responsive img-cover" />
              <div class="img-overlay">
                <a href="#" class="btn btn-default">Book now</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row card-row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <div class="content">
            <h2 class="section-heading">
              Title Goes Here
            </h2>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
          <div class="clearfix">

          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card-image">
            <div class="img-wrapper">
              <img src="/seancliffs/img/smiaf.jpg" class="img-responsive img-cover" />
              <div class="img-overlay">
                <a href="#" class="btn btn-default">Book now</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
</section>
