<section class="no-horizontal-padding" id="foto-video">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ site.data.sections.foto_video }}</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter gallery" id="gallery">
            {% for gallery_entry in site.gallery %}
                {% if gallery_entry.youtube_link and gallery_entry.youtube_link != "" %}
                    {% include youtube-gallery-entry.html entry=gallery_entry %}
                {% else %}
                    {% include image-gallery-entry.html entry=gallery_entry %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
