<section class="no-horizontal-padding" id="foto-video">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Foto & Video</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter" id="gallery">
            <a href="img/portfolio/1.jpg" class="portfolio-box col-lg-4 col-sm-6">
                <img src="img/portfolio/1.jpg" class="img-responsive" alt="" title="Some caption should be here" />
            </a>
            <a href="img/portfolio/2.jpg" class="portfolio-box col-lg-4 col-sm-6">
                <img src="img/portfolio/2.jpg" class="img-responsive" alt="" title="Another caption here">
            </a>
            <a href="img/portfolio/3.jpg" class="portfolio-box col-lg-4 col-sm-6">
                <img src="img/portfolio/3.jpg" class="img-responsive" alt="" title=" ">
            </a>
            <a href="img/portfolio/4.jpg" class="portfolio-box col-lg-4 col-sm-6">
                <img src="img/portfolio/4.jpg" class="img-responsive" alt="" title=" ">
            </a>
            <a href="img/portfolio/5.jpg" class="portfolio-box col-lg-4 col-sm-6">
                <img src="img/portfolio/5.jpg" class="img-responsive" alt="" title=" ">
            </a>
            <a href="img/portfolio/6.jpg" class="portfolio-box col-lg-4 col-sm-6">
                <img src="img/portfolio/6.jpg" class="img-responsive" alt="" title=" ">
            </a>
        </div>
    </div>
</section>
