<!-- begin post -->
{% assign author = site.authors[post.author] %}

<div class="col-lg-12 col-md-12 mb-30px card-group">
    <div class="card h-100">
        <div class="row g-0">
            <a href="{{ site.baseurl }}{{ post.url }}">
            <div class="col-md-4">
                <div style="
    background: url({% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}) no-repeat center;
    min-height: 250px;
    background-size: cover;
"></div>
            </div>
            </a>
            <div class="col-md-8">
              <div class="card-body">
            <h2 class="card-title">
                <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                {% if post.rating %}
                <div class="mb-2 mt-2 font-weight-normal">
                    <a href="{{ site.baseurl }}{{ post.url }}">{% include star_rating_postbox.html %}</a>
                </div>
                {% endif %}
            </h2>
            <h4 class="card-text">{{ post.excerpt | strip_html | truncatewords:60 }}</h4>
        </div>
            </div>
          </div>
        
    </div>
</div>
<!-- end post -->
