<!-- begin post -->
{% assign author = site.authors[post.author] %}

<div class="col-lg-12 col-md-12 mb-30px card-group">
    <div class="card h-100">
        <div class="row g-0">
            <div class="col-md-4">
              <a href="{{ site.baseurl }}{{ post.url }}">
                {% if post.image %}
                    {% if site.lazyimages == "enabled" %}
                        <img class="img-fluid lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}">
                    {% else %}
                        <img class="img-fluid" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}"> 
                    {% endif %}

                {% endif %}
            </a>
            </div>
            <div class="col-md-8">
              <div class="card-body">
            <h2 class="card-title">
                <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                {% if post.rating %}
                <div class="mb-2 mt-2 font-weight-normal">
                    <a href="{{ site.baseurl }}{{ post.url }}">{% include star_rating_postbox.html %}</a>
                </div>
                {% endif %}
            </h2>
            <h4 class="card-text">{{ post.excerpt | strip_html | truncatewords:60 }}</h4>
        </div>
            </div>
          </div>
        
    </div>
</div>
<!-- end post -->
