<!-- jQuery -->
<script src="{{ "js/jquery.js" | absolute_url }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "js/bootstrap.min.js" | absolute_url }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ "js/jquery.easing.min.js" | absolute_url }}"></script>
<script src="{{ "js/jquery.fittext.js" | absolute_url }}"></script>
<script src="{{ "js/wow.min.js" | absolute_url }}"></script>
<script src="{{ "js/jquery.poptrox.min.js" | absolute_url }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "js/creative.js" | absolute_url }}"></script>
