<div class="share">
    <p>
        Share
    </p>
    <ul>
        <li>
        <a target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url | absolute_url }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
        <i class="fa fa-twitter"></i>
        </a>
        </li>
        <li>
        <a target="_blank" href="https://facebook.com/sharer.php?u={{ page.url | absolute_url }}" onclick="window.open(this.href, 'facebook-share', 'width=550,height=435');return false;">
        <i class="fa fa-facebook"></i>
        </a>
        </li>
        <li>
        <a target="_blank" href="https://plus.google.com/share?url={{ page.url | absolute_url }}" onclick="window.open(this.href, 'facebook-google', 'width=550,height=435');return false;">
        <i class="fa fa-google-plus"></i>
        </a>
        </li>
    </ul>
    <div class="sep">
    </div>				
    <ul>
        <li> 
        <a  class="small" href="#disqus_thread"></a>
        </li>
    </ul>
</div>