<!--

A include (page) listing all product collections

--- Publications
--- Softwares

INCLUDE PARAMETERS::
--Tag --- given a search tag (member || project) name
--type --- where product include request is coming from ("project", "member", team?, others??? )

-->

{% if include.tag and include.type and include.section %}

{% if include.type == "member" %}

	<!-- create empty arrays for member's softwares -->
	{% assign softs = '' | split: '' %}
	{% for soft in site.software %}
		<!-- if tag in product people array-->
		{% if soft.people contains include.tag %}
		
			{% assign softs = softs | push: soft %}

		{% endif %}
	{% endfor %}



<!-- NOT A MEMBER group -- (Team || Project) -->
{% else %}
	<!-- Get (assign) all publications (products) associated to "tag" of "type" -->	

	{% assign softs = site.software | where:include.type, include.tag %}


{% endif %}


<!-- iterate all product collections -- output info: name + description + linkage -->


{% if softs.size > 0 %}
<div class="section-title col-md-12 mt-4">
<h2 id="{{include.section}}"><span class="text-capitalize">{{include.section}}</span></h2>
</div>
	<ul>
		{% for s in softs%}

		<!--Formatting-->
		<li><a href="{{ s.url }}">{{ s.title }}</a></li>

		{% endfor %}
	</ul>
{% endif %}


{% endif %}	
