{% if post.rating == 5 %}
  <span class="star-rating text-warning"> &#9733;&#9733;&#9733;&#9733;&#9733;</span>
{% endif %}

{% if post.rating == 4 %}
  <span class="star-rating text-warning"> &#9733;&#9733;&#9733;&#9733;&#9734;</span>
{% endif %}

{% if post.rating == 3 %}
  <span class="star-rating text-warning"> &#9733;&#9733;&#9733;&#9734;&#9734;</span>
{% endif %}

{% if post.rating == 2 %}
  <span class="star-rating text-warning"> &#9733;&#9733;&#9734;&#9734;&#9734;</span>
{% endif %}

{% if post.rating == 1 %}
  <span class="star-rating text-warning"> &#9733;&#9734;&#9734;&#9734;&#9734;</span>
{% endif %}