/*!
 * loda v.1.0.0
 *
*/

/* make the image is center in the parent */

.center-image
{
    margin: 0 auto;
    display: block;
}

/* make embeded youtube video fit to post */

.youtube-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.youtube-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*

Make it child lay in center

*/
.wrapper-center{
    text-align: center;
}
