---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "starsnonscss"
;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&family=Noto+Serif+KR:wght@400;900&display=swap');

@font-face {
    font-family: 'CookieRunOTF-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InkLipquid';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.mainheading h1.sitetitle {
    // font-family: 'Noto Serif KR', serif;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}

.mainheading p.lead {
    // font-family: 'Noto Serif KR', serif;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    color: lightgray;
}

.mainheading h1.posttitle {
    // font-family: 'Noto Serif KR', serif;
    font-family: 'Noto Sans KR', sans-serif;
}

div.card-body h2, div.section-title h2, div.listrecent h2,  div.fortags h2 {
    // font-family: 'Noto Serif KR', serif;
    font-family: 'Noto Sans KR', sans-serif;
}

div.article-post h1, div.article-post h2, div.article-post h3, div.article-post h4 {
    // font-family: 'Noto Serif KR', serif;
    font-family: 'Noto Sans KR', sans-serif;
}

div.article-post h1, div.article-post h2, div.article-post h3, div.article-post h4, div.article-post h5, div.article-post h6 {
    // font-family: 'Noto Serif KR', serif;
    font-family: 'Noto Sans KR', sans-serif;
	margin-top: 2em;
}

div.article-post h3, div.article-post h4, div.article-post h5, div.article-post h6 {
    color: gray;
}

div.pagination, a.prev, a.next {
    // font-family: 'Noto Serif KR', serif;
    font-family: 'Noto Sans KR', sans-serif;
}

* {
    // font-family: 'Noto Serif KR', serif;
    font-family: 'Noto Sans KR', sans-serif;
    word-wrap: break-word;
    word-break: keep-all;
}

.btn.follow {
    font-size: 0.8em;
    color: white;
    border-color: dodgerblue;	
    background-color: deepskyblue;
}

.btn.subscribe {
    background-color: deepskyblue;
    border-color: deepskyblue;
}

.btn.buymeacofee {
    background-color: deepskyblue;
    border-color: deepskyblue;
}

.alertbar input[type="submit"] {
    background-color: deepskyblue;
    border: 1px solid deepskyblue;
}

.alertbar input[type="email"] {
    height: 32px;
}

a {
    color: deepskyblue;
}

a:hover {
    color: dodgerblue;
}

p.nav-link a {
    color: darkgray;
}

p.nav-link a:hover {
    color: lightslategray;
}

.article-post strong {
	text-decoration: solid underline lightblue 4px;
}

blockquote {
    border-left: 4px solid deepskyblue;
}

figcaption {
    font-size: 0.8em;
    text-align: right;
    color: gray;
}

figcaption.center {
    font-size: 0.8em;
    text-align: center;
    color: gray;
}

sub {
    color: gray;
}

div.article-post figure img.shadow, img.featured-image {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.article-post figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 640px;
}

div.article-post figure img.medium {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div.article-post figure img.small {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

// Tables
// https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    margin-left: auto;
    margin-right: auto;
}

table thead tr {
    background-color: black;
    color: #ffffff;
    text-align: left;
}

table th, table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid black;
}

table tbody tr.active-row {
    font-weight: bold;
    color: black;
}

.center {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.share, .post-cats, .post-tags {
    text-align: center;
}

.share p, .post-cats p, .post-tags p {
    color: black;
    margin-bottom: 10px;
    font-size: 0.95rem;
}

.shareul li, .post-cats ul li, .post-tags ul li {
    display: inline-block;
    margin-bottom: 9px;
    line-height: 2.5em;
}

.share ul, .post-cats ul, .post-tags ul {
    padding-left: 0;
    margin-left: 0;
}

.share ul li i.fa, .post-cats ul li i.fa, .post-tags ul li i.fa {
    border: 1px solid #ddd;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.PageNavigation strong {
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.8em;
}

h2  {
    font-size: 1.4rem;
}

h3  {
    font-size: 1.2rem;
}

h4, h5, h6  {
    font-size: 1.0rem;
}

div.note {
    font-size: 0.8em;
    background-color: GhostWhite;
    padding: 20px;
    border-radius: 10px;
}