
{% if include.section and include.type %}
<!-- If opportunties defined and true => check for jobs || display call_for_actiont text -->
{% if page.opportunities==true %}

	{% assign group_jobs="" | split: "" %}

	{% for job in site.jobs %}
		
		{% if include.type=="team" %}
			{% if job.team==page.title %}
				{% assign group_jobs=group_jobs | push: job %}
			{% endif %}
		{% endif %}

		{% if include.type=="project" %}
			{% if job.project==page.title %}
				{% assign group_jobs=group_jobs | push: job %}
			{% endif %}
		{% endif %}

	{% endfor%}


<!-- 'group_jobs' array created -- containing all job posts for the project/team -->	

	{% if group_jobs.size>0 %}
		<div class="section-title col-md-12 mt-4">
			<h2 id="{{include.section | replace: " ","-"}}"><span class="text-capitalize">{{include.section}}</span></h2>
		</div>
		<ul>
		   {% for job in group_jobs %}

				<!--Formatting-->
		      	<li><a href="{{ job.url }}">{{ job.title }}</a></li>
		   
		   {% endfor %}
		</ul>

	{% else %}

		{% if page.call_for_action %}
			<div class="section-title col-md-12 mt-4">
				<h2 id="{{include.section | replace: " ","-"}}"><span class="text-capitalize">{{include.section}}</span></h2>
			</div>
	 		<p style="margin-left: 40px">{{page.call_for_action}}</p>
		{% endif %}

 	{% endif %}


{% endif %}
{% endif %}