---
layout: post
group: member # relied in in post.html... (author<==> PI)
sections: ["Projects", "Publications", "Software", "Teams"]
---

<!-- create project_post array for member's projects -->
{% assign projs = '' | split: '' %}
{% for p in site.projects %}
	<!-- if tag in product people array-->
	{% if p.people contains page.title %}

		{% assign projs = projs | push: p %}

	{% endif %}
{% endfor %}


<!-- create empty array for all member's teams from set of projects... -->
{% assign teams = '' | split: '' %}
{% for proj in projs %}
​
	{% if proj.team %}
		<!-- concatenate members lists for all projects into 1-->
		{% assign teams = teams | push: proj.team %}
	​{% endif %}

{% endfor %}
<!-- create unique member list -->
{% assign unique_teams = teams | uniq %}


<!-- 
Creates the 'pubs' and 'softs' array (if any publications/softwares)
	NOTE:: depended on by post_toc.html 
-->
{% include products_array.html tag=page.title type=layout.group %}


<!-- Create Table of Contents (toc) -->
{% include post_toc.html projects=projs %}
<div class="section-title col-md-12 mt-4">
<h2>About</h2>
</div>
{{ content }}


<!-- OUTPUT ALL includes for each section 
NOTE:: very UGLY ==> could create dictionary of 'sections': 
{ key: section_name, value: include_script}
-->

​<!-- List projects --- and description + linkage -->
{% assign s=layout.sections[0] %}
{% include SectionIncludes/projects_include.html projects_array=projs section=s %}
<!-- List publications and softwares-->
{% assign s=layout.sections[1] %}
{% include SectionIncludes/publications_include.html publications=pubs section=s %}
<!-- List publications and softwares-->
{% assign s=layout.sections[2] %}
{% include SectionIncludes/software_include.html software=softs section=s %}
<!-- List teams --- and description + linkage -->
{% assign s=layout.sections[3] %}
{% include SectionIncludes/teams_include.html teams_array=unique_teams section=s %}




