---
layout: default
disqus: false
archive: false
post_class: post-template
---

{% comment %} Begin Article {% endcomment %} 
<div class="container">
    <div class="row">
        {% comment %} Post {% endcomment %} 
        {% assign author_key = page.author | downcase %}
        {% assign author = site.data.authors[author_key] %}
        <div class="col-md-12 flex-first flex-md-unordered">
            <div class="mainheading">
                {% comment %} Author Box {% endcomment %}
                {% if page.author %}
                <div class="row post-top-meta">
                    <div class="col-xs-12 col-md-3 col-lg-2 text-center text-md-left mb-4 mb-md-0">
                        {% if author.avatar %}
                        <img class="author-thumb" src="{{site.baseurl}}/{{ author.avatar }}" alt="{{ author.display_name }}">
                        {% else %}
                        <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">
                        {% endif %}
                    </div>
                    <div class="col-xs-12 col-md-9 col-lg-10 text-center text-md-left">
                        <a class="link-dark" href="{{ author.web }}" target="_blank">{{ author.display_name }}</a><a target="_blank" href="{{ author.twitter }}" class="btn follow">Follow</a>
                        <span class="author-description">{{ author.description }}</span>
                    </div>
                </div>
                {% endif %}
                <h1 class="posttitle">{{ page.title }}</h1>
            </div>

            {% comment %} Adsense if enabled from _config.yml (change your pub id and slot) {% endcomment %}
            {% if site.adsense == "enabled" %}
                {% include adsense-under-header.html %}
            {% endif %}
            {% comment %} End Adsense {% endcomment %}

            {% comment %} Post Featured Image {% endcomment %}
            {% if page.image %}
            <img class="featured-image img-fluid" loading="lazy" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            {% endif %}
            {% comment %} End Featured Image {% endcomment %}

            {% comment %} Post Content {% endcomment %}
            <div class="article-post">
                {% comment %} TOC, if {% endcomment %}
                {% if page.toc %}
                    {% if page.beforetoc %}
                        <p><em>{{page.beforetoc}}</em></p>
                    {% endif %}
                    <div class="toc mt-4 mb-4 lead">
                        {% comment %} removed <h3 class="font-weight-bold">Summary</h3> {% endcomment %}
                        {% include toc.html html=content %}
                    </div>
                {% endif %}
                {% comment %} End TOC {% endcomment %}
                {{content}}
            </div>

            {% comment %} Post Share 
            <div class="col-md-2 pl-0">
                {% include share.html %}
            </div>
            {% endcomment %}
            
            {% comment %} Rating {% endcomment %}
            {% if page.rating %}
            <div class="rating mb-4 d-flex align-items-center">
                <strong class="mr-1">Rating:</strong> {% include star_rating.html %}
            </div>
            {% endif %}

            {% comment %} Post Date {% endcomment %}
            <p>
            <small>
                Published <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time></span>           
                {% if page.last_modified_at %}
                (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                {% endif %}
                </small>
            </p>

            {% comment %} Post Categories {% endcomment %}
            <div class="after-post-cats">
                <ul class="tags mb-4">
                    {% assign sortedCategories = page.categories | sort %}
                    {% for category in sortedCategories %}
                    <li>
                        <a class="smoothscroll" href="{{site.baseurl}}/categories#{{ category | replace: " ","-" }}">{{ category }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% comment %} End Categories {% endcomment %}

            {% comment %} Post Tags {% endcomment %}
            <div class="after-post-tags">
                <ul class="tags">
                    {% assign sortedTags = page.tags | sort %}
                    {% for tag in sortedTags %}
                    <li>
                        <a class="smoothscroll" href="{{site.baseurl}}/tags#{{ tag | replace: " ","-" }}">#{{ tag }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% comment %} End Tags {% endcomment %}

            {% comment %} Prev/Next {% endcomment %}
            <div class="row PageNavigation d-flex justify-content-between font-weight-bold">
            {% if page.previous.url %}
            <a class="prev d-block col-md-6" href="{{ site.baseurl }}{{page.previous.url}}"> &laquo; {{page.previous.title}}</a>
            {% endif %}
            {% if page.next.url %}
            <a class="next d-block col-md-6 text-lg-right" href="{{ site.baseurl }}{{page.next.url}}">{{page.next.title}} &raquo; </a>
            {% endif %}
            <div class="clearfix"></div>
            </div>
            {% comment %} End Prev/Next {% endcomment %}

        </div>
        {% comment %} End Content {% endcomment %}

    </div>
</div>
{% comment %} End Article {% endcomment %}

{% comment %} Begin Comments {% endcomment %}
{% if page.comments != false %}
{% if site.disqus %}
    <div class="container">
        <div id="comments" class="row justify-content-center mb-5">
            <div class="col-md-8">
                {% include disqus.html %}
            </div>
        </div>
    </div>
{% endif %}
{% endif %}
{% comment %} End Comments {% endcomment %}

{% comment %} 
Review with LD-JSON, adapt it for your needs if you like, but make sure you test the generated HTML source code first: 
https://search.google.com/structured-data/testing-tool/u/0/
{% endcomment %}

{% if page.rating %}
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Review",
  "itemReviewed": {
    "@type": "Thing",
    "name": "{{ page.title }}"
  },
  "author": {
    "@type": "Person",
    "name": "{{ author.display_name }}"
  },
  "datePublished": "{{ page.date | date:"%Y-%m-%d" }}",
  "reviewRating": {
    "@type": "Rating",
    "ratingValue": "{{ page.rating }}",
    "bestRating": "5"
  }
}
</script>
{% endif %}