---
layout: post
group: project
sections: ["Fundings", "Opportunities", "Members", "Publications", "Software"]
headers: ["Starting Date", "Ending Date", "Status", "Keyword", "Member", "Software", "Publication"]

#Status types for 'page.status' variable
# Enum would be mighty nice here...
statuses: ["Completed", Ongoing", "Halted"] # Statuses ==> 0: "Complete", 1: "Ongoing", 2: "Ongoing with end date", 3: "Halted" (used by "project_extra_sections.html")
---


<!-- 
Creates the 'pubs' and 'softs' array (if any publications/softwares)
	NOTE:: depended on by post_toc.html 
-->
{% include products_array.html tag=page.title type=layout.group %}


<!-- Create Table of Contents (toc) -->
{% include post_toc.html members=page.people %}
<div class="section-title col-md-12 mt-4">
<h2>About</h2>
</div>

{{content}}
​
<!--
Sections -- extra (funding + status) + collection includes 
-->
{% assign s=layout.sections[0] %}
{% include SectionIncludes/funding_include.html section=s  %}

{% assign s=layout.sections[1] %}
{% include SectionIncludes/jobs_include.html section=s type=layout.group %}

{% assign s=layout.sections[2] %}
{% include SectionIncludes/members_include.html members_array=page.people section=s %}

<!-- List publications and softwares-->
{% assign s=layout.sections[3] %}
{% include SectionIncludes/publications_include.html publications=pubs section=s %}
<!-- List publications and softwares-->
{% assign s=layout.sections[4] %}
{% include SectionIncludes/software_include.html software=softs section=s %}