---
layout: default
---

<section> 
    <div>
        <div>
            <h1>모집을 하겠노라!</h1>
            <p>모집에 대한 설명</p>
            <div>
                <div>Mobile. </div>
                <div>짧은 소개</div>
            </div>
            <div>
                <div>Frontend</div>
                <div>짧은 소개</div>
            </div>
            <div>
                <div>Backend</div>
                <div>짧은 소개</div>
            </div>
            <div>
                <div>Data / Machine Learning</div>
                <div>짧은 소개</div>
            </div>
        </div>
    </div>
</section>