---
layout: default
---
<section> 
    <div>
        <div>
            <h1>모집을 하겠노라!</h1>
            <p>모집에 대한 설명</p>
            <div>
                <div>Mobile. </div>
                <div>짧은 소개</div>
            </div>
            <div>
                <div>Frontend</div>
                <div>짧은 소개</div>
            </div>
            <div>
                <div>Backend</div>
                <div>짧은 소개</div>
            </div>
            <div>
                <div>Data / Machine Learning</div>
                <div>짧은 소개</div>
            </div>
        </div>
    </div>
</section> 


<script>
    /* Slide */
    const tabs = {
        about: document.querySelector('.section-title .active'),
        alumni: document.querySelector('.section-title .deactive')
    }
    const infoContainer = document.querySelector('.member-alumni-container');
    const memberContainer = document.querySelector('.member-info-container');
    const alumniContainer = document.querySelector('.alumni-info-container');
    tabs.about.addEventListener('click', (e) => {
        tabs.about.classList.add('active');
        tabs.alumni.classList.remove('active');
        memberContainer.classList.add('slide-right');
        alumniContainer.classList.add('slide-right');
        memberContainer.classList.remove('slide-left');
        alumniContainer.classList.remove('slide-left');
    });
    tabs.alumni.addEventListener('click', (e) => {
        tabs.about.classList.remove('active');
        tabs.alumni.classList.add('active');
        memberContainer.classList.remove('slide-right');
        alumniContainer.classList.remove('slide-right');
        memberContainer.classList.add('slide-left');
        alumniContainer.classList.add('slide-left');
    });
</script> 