---
layout: post
group: team
sections: ["Members", "Projects", "Opportunities"]
---

<!-- Get all projects for THIS team... -->
{% assign projs = site.projects | where:layout.group, page.title %}
​
<!-- Gather unique list of members from projects -->
​
<!-- create empty array... -->
{% assign members = '' | split: '' %}
{% for p in projs %}
​
	<!-- concatenate members lists for all projects into 1-->
	{% assign members = members | concat: p.people %}
​
{% endfor %}
<!-- create unique member list -->
{% assign unique_members = members | uniq %}
​



<!-- Create Table of Contents (toc) -->
{% include post_toc.html members=unique_members projects=projs %}
<div class="section-title col-md-12 mt-4">
<h2>About</h2>
</div>
{{content}}


<!--   TEAM PAGE Layout -- OUTPUT HERE     -->
{% assign s=layout.sections[0] %}
<!-- List members -->
​{% include SectionIncludes/members_include.html members_array=unique_members section=s %}

​{% assign s=layout.sections[1] %}
<!-- List projects --- and description + linkage -->
{% include SectionIncludes/projects_include.html projects_array=projs section=s %}

{% assign s=layout.sections[2] %}
{% include SectionIncludes/jobs_include.html section=s type=layout.group %}